<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SHOPPING WEBSITE</title>
    <nav style="background-color: blueviolet;">
        <div role="menu" title="Button">
            <a>Sub Button</a>
            
        </div>
    </nav>
    <h1>SUPPLEMENT</h1>
    
    <a href="https://www.muscleblaze.com/?ef_id=ZIcJ0QAAAfvDdyz9:20230612120433:s">MB PROTINE <text-aline:center;></text-aline></a>
    
    <image src="protine.jpg"type="image/jpg"
    width="300px"
    height="300px">
    </image>
    <span>
        <h2>CLOTHES</h2>
        <a href="https://www.adidas.co.in/men-clothing">ADIDAS CLOTHES</a>
        <image src=".\static\img\clothes.jpg"type="image/jpg" alt="Image"
            width="300px"
            height="300px">
        </image>
    </span> 
    <div3>
        <h3>SHOES</h3>
        <a href="https://www.adidas.co.in/shoes?cm_mmc=AdieSEM_Google-_-adidas-Brand_Expanded-B-Exact-Shoes-_-Search-_--_-dv%3AeCom-_-cn%3Aadidas-Brand_Expanded-B-Exact-Shoes-_-pc%3AGoogle&cm_mmc1=IN&cm_mmc2=PPC-Multiple--Multiple-Multiple-IN-EMEA-eCom-Paid_Search">ADIDAS SHOES</a>
        <image src="mytest1\static\img\shoes.jpg"type="image/jpg"
        width="300px"
        height="300px">
    </image>
    </div3>
    <div4>
        <h3>GROCERY</h3>
        <a href="https://www.flipkart.com/grocery-supermart-store?marketplace=GROCERY">GROCERY</a>
        <image src="mytest1\static\img\grocery.jpg" type="image/jpg"
        width="300px"
        height="300px">
    </image>
    </div4>
</head>
<body>
    
</body>
</html>